a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #FFFFFF;
}

body {
	background-color: #2c3e50;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

li {
	list-style-type: none;
	padding: 0 0;
}

li a {
	display: block;
	width: 100%;
	padding: 20px 0;
}

ul {
	padding: 0;
}

.row {
	display: flex;
}

.section {
	width: 250px;
	margin: 5px;
	padding: 5px;
}

#container {
	width: 100%;
	padding: 10% 0;
}

#links-div {
	width: 750px;
	margin: 0 auto;
	margin-top: 50px;
}

#reddit-div {
	background-color: #e74c3c;
}

#reddit-div a:hover {
	background-color: #c0392b;
}

#reddit-div li a {
	text-indent: 30px;
}

#videos-div {
	background-color: #2ecc71;
}	

#videos-div a:hover{
	background-color: #27ae60;
}	

#videos-div li a {
	text-indent: 64px;
}

#programming-div {
	background-color: #3498db;
}	

#programming-div a:hover {
	background-color: #2980b9;
}

#programming-div li a {
	text-indent: 50px;
}
